:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer {
    overflow-y: hidden;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer > div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: flex-end;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-buttons {
    padding-right: 15px;
    flex-shrink: 3;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea {
    overflow-y: scroll;
    max-height: calc(var(--custom-channel-textarea-text-area-max-height) - 55px);
    order: -1;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer > div::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 56px;
    height: 1px;
    background-color: var(--app-border-frame);
    content: ""
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._795fb60671d128c1-characterCount {
    translate: 0 -55px;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._0923f156a0410684-attachWrapper {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 15px;
}

/* COPIED FROM DISCORD CSS */

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea::-webkit-scrollbar {
    width: 12px;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-track {
    border-radius: 0 8px 8px 0
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-thumb,
:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: 4px solid transparent;
}

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary-800-hsl) /.6);
    border-radius: 8px;
}

/* END: COPIED FROM DISCORD CSS */

:where(.visual-refresh) .f75fb00fb7356cbe-channelTextArea ._740174f3d6a2c8fe-textArea > div > * {
    margin-left: 58.5px;
    margin-right: 19px;
}
