/**
 * @name Chat Input Remove Gifting Button
 * @author Wroclaw
 * @version 1.0
 * @description Removes the gifting button from the chat input area
 * @source https://github.com/amozeo/discord-css-snippets
*/

.f75fb00fb7356cbe-channelBottomBarArea ._740174f3d6a2c8fe-buttons > .c0c49a3e5c8626ac-container {
    display: none;
}
