/**
 * @name Compact Search
 * @author Wroclaw
 * @version 1.0
 * @description Makes the search bar compact until activated
 * @source https://github.com/amozeo/discord-css-snippets
*/

._974928fe84ca9647-search > ._974928fe84ca9647-searchBar {
    width: 32px !important;
    background: none;
    border-color: transparent;
    transition: background .25s ease,
        width .25s ease,
        border-color .25s ease;
}

._974928fe84ca9647-search > ._974928fe84ca9647-searchBar .DraftEditor-root {
    padding-right: 3px !important;
}

._974928fe84ca9647-search._974928fe84ca9647-open > ._974928fe84ca9647-searchBar {
    width: 244px !important;
    background: var(--background-gradient-low, var(--input-background-default));
    border-color: var(--input-border-default);
}

._974928fe84ca9647-search > ._974928fe84ca9647-searchBar ._974928fe84ca9647-icon {
    margin-right: 7px;
}

._496769951eb140fe-search {
    margin: 0 !important;
}

