/**
 * @name Remove Help Button
 * @author Wroclaw
 * @version 1.0
 * @description Removes the help button from the Title Bar
 * @source https://github.com/amozeo/discord-css-snippets
*/

.c38106a3f0c3ca76-trailing [href="https://support.discord.com"] {
    display: none;
}
